{% extends 'base.html' %}

{% block content %}
    <form method="post" class="buttons" style="margin-top: 25vh;">
    
    <div class="card" style="background-color: #1e202e; padding: 20px;">
        <h3 class="card-header" style="color: aliceblue; text-align: center; border-bottom: 2px solid whitesmoke;">Enter the Chat Room</h3>
        <div class="card-body">
        <div class="input-group flex-nowrap" style="margin-bottom: 1vh; padding: 1.5vh; display: flex; width: 100%;">
            <span class="input-group-text" id="addon-wrapping" style="margin-right: 20px; border-radius: 3px;">Name: </span>
            <input type="text" class="form-control" placeholder="Enter name" name="name" value="{{ name }}" style="border-radius: 3px; width: 100%;"/>
            <label for=""></label>
        </div>
        <div class="input-group flex-nowrap" id="join">
            <input type="text" class="form-control" placeholder="Room Code" 
            aria-label="Username" aria-describedby="addon-wrapping" name="code" value="{{code}}" id="room-code-field" style="border-radius: 3px;">
            <button type="submit" name="join" class="btn btn-primary" id="join-room">Join Room</button>
        </div>
        <!--<div class="join">
            <input type="text" placeholder="Room Code" name="code" value="{{code}}">
            <button type="submit" name="join">Join Room</button>
        </div>-->
        <button type="submit" name="create" class="btn btn-primary" id="create" style="margin-top: 2vh;">Create a Room</button>
        </div>
    </div>
    {% if error %}
        <ul class="list-group-item">
            <li class="list-group-item list-group-item-warning" style="padding: 2vh; font-size: large; font-weight: 600; margin-top: 1.5vh;">{{error}}</li>
        </ul>
    {% endif %}
        
    </form>

{% endblock content %}